    <section id="lista" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pic">
                    <img class="pic" src="/img/playa_con_joy.jpg">
                </div>
                <div class="col-md-6">
                    <h2 class="section-heading text-center">Lista de Novios</h2>

                    <p>Como muchos ya saben, nos vivimos a vivir a Barcelona hace un tiempo y ya tenemos nuestro nuevo hogar
                        equipado. Además nos es díficil transportar cosas desde Chile a Barcelona. 
                        <b>No es para nada necesario</b>, pero si nos quieren hacer un regalo, las opciones más prácticas
                        para nosotros en este momento son:
                    </p>
                    <ul>
                        <li>Regalos físicos que nos puedan hacer llegar en
                            Barcelona en persona o a través de correos. <a href=".">Tenemos 
                        una lista en Amazon.</a></li>
                        <li>Gift cards de Amazon o IKEA</li>
                        <li>Dinero para nuestra luna de miel</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
